*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    border: none;
}
a{
    text-decoration: none;
}
body{
    font-family:"Montserrat",sans-serif;
    background: #000;
}
.container {
    width: 90%;
    margin: 0 auto;
}
#header{
    padding: 30px 0;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 30px;
    animation: ht 2s ease-in-out;
}
@keyframes ht {
    0%{
        transform:translateY(-500px) ;
    }
}
.header-search input{
    width: 462px;
    height: 45px;
    padding-left: 20px;
    background: rgba(122, 122, 122, 0.45);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    color: white;
}
.header-search input::placeholder{
    padding-left: 20px;
}
.header-search{
    position: relative;
}
.header-search a{
    position: absolute;
    font-size: 28px;
    color: white;
    top: 8px;
    right: 10px;
}
.header-button{
    width: 100%;
    height: 46px;
    background: #013475;
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-button a{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    transition: .4s;
    animation: nav 3s ease-in-out infinite;
}
@keyframes nav {
    0%{
        opacity:0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
.header-button a:hover{
    border-bottom: 1px solid white;
}
.hero-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 50px;
}
.hero-title h1{
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
}
.hero-title a{
    font-size: 30px;
    color: white;
}
.block{
    width: 211px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    margin: 0 17px 40px 0;
}
.block h2{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 0;
}
.block a{
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.block a ion-icon{
    font-size: 15px;
}
.block a span{
    font-size: 15px;
    border-bottom:1px solid white;

}
.hero{
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.footer-info h1{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.footer-info p{
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    padding-bottom: 10px;

}
.footer-num{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;


}
.footer-num a{
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    padding-bottom: 5px;
}
#footer{
    padding: 40px 0;
    background: #1F1F1F;
    backdrop-filter: blur(2px);
}
#kino{
    padding: 50px 0;
}
.kino{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
}
.kino-title{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.kino-title h1{
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 20px;

}
.kino-price{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.kino-price div{
    width: 115.98px;
    height: 107px;
    background: #013475;
    box-shadow: 18px 18px 80px #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.kino-price div:hover{
    opacity: 0.3;
}
.cal{
    font-size: 30px;
    color: #013475;
}
.line{
    width: 80%;
    height: 2px;
    background: black;
    margin: 10px 0;
}
.kino-price div h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.kino-info a{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 20px 0;
    display: flex;
    align-items: center;

}
.kino-info a ion-icon{
    font-size: 25px;
    color: white;
    margin-right: 30px;
}
.kino-info a span{
    font-size: 23px;
    border-bottom: 1px solid white;
    margin-right: 30px;
}
#rigo{
    padding: 50px 0;
}
.rigo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}
.rigo-title{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.rigo-title h1{
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 20px;

}
.rigo-price{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.rigo-price div{
    width: 115.98px;
    height: 107px;
    background: #013475;
    box-shadow: 18px 18px 80px #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.rigo-price div:hover{
    opacity: 0.3;
}
.cal{
    font-size: 30px;
    color: #013475;
}
.line{
    width: 80%;
    height: 2px;
    background: black;
    margin: 10px 0;
}
.rigo-price div h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.rigo-info a{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 20px 0;
    display: flex;
    align-items: center;

}
.rigo-info a ion-icon{
    font-size: 25px;
    color: white;
    margin-right: 30px;
}
.rigo-info a span{
    font-size: 23px;
    border-bottom: 1px solid white;
    margin-right: 30px;
}
.contact{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    padding-bottom:  300px;
    padding-block-start: 100px;


}
.contact h1{
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom:   40px;

}
.contact a{
    font-weight: 400;
    font-size: 24px;
    line-height: 125.4%;
    color: #FFFFFF;
    padding-bottom: 30px;

}
.cass{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    padding-bottom:  300px;
    padding-block-start: 100px;
}
.cass h1 {
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.cass p{
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
}

.error{
    display: flex;
    justify-content: space-around;
    padding-bottom:  300px;
    padding-block-start: 100px;

}
.error-title h1{
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 40px;

}
.error-title button{
    width: 274px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #013475;
    border-radius: 12px;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;

}
.company{
    padding-bottom:  300px;
    padding-block-start: 100px;
}
.company h1 {
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 40px;

}
.company p{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}
